[path]
#��ȡIP��ַ�ļ�
serip_name=serip.cfg
#��½LINUXϵͳ����ͨ�û���
ord_user_name=manager
#��½LINUXϵͳ����ͨ�û�����
ord_user_pwd=123456
#Ҫ�޸ĵ��û���
alt_user_name=cccadmin
#�޸ĺ���û�����
alt_user_pwd=cccadmin
#ͨ��sshЭ������linux�ͻ���ָ���Ķ˿ں�
ssh_port=22
#���ýű��������־��
sys_log_name=alter.log


